body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}

/* views */

.video-view,
.right-view {
  flex: 1;
  background-color: #A0A0A0;
  aspect-ratio: 16/9;
  margin: 0 3px;
  overflow: hidden;
}

.video-view iframe {
  height: 100%;
  width: 100%;
}

/* chat */

.chat {
  padding: 10px;
}

.close-chat-btn {
  background-color: transparent;
  border: none;
}

.close-chat-btn img {
  rotate: 180deg;
}

/* search results */

.search-results {
  padding: 0;
}

.search-results li {
  list-style-type: none;
  margin: 10px 0;
  display: flex;
  height: 105px;
  cursor: pointer;
}

.search-results-img {
  flex: 0 0 auto;
  position: relative;
}

.search-results-img .img-1 {
  height: 100%;
  
}

.search-results-img .img-2 {
  position: absolute;
  height: 50px;
  top: 25%;

  left: 32%;
}

.search-results-text {
  flex: 1;
  padding-left: 10px;
}

.search-results-text div {
  height: 50%;
  overflow: hidden;
}

.search-results-text div p {
  margin: 0;
}

.search-results-text-body p {
  text-wrap: nowrap;
  overflow: hidden;
}

/* footer */

.footer {
  height: 52px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  background-color: #040404;
  width: 100%;
  display: flex !important;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.footer-icons {
  display: flex;
}

.footer-icons div {
  padding: 0 15px;
  margin: 1px 0 3px 0;
  position: relative;
  border-radius: 8px;
}

.footer-icons div:hover {
  background-color: #1A1A1A;
  cursor: pointer;
}

.footer-icons div div {
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.footer-icons div p {
  font-size: 12px;
  color: #A0A0A0;
  display: flex;
    justify-content: center;
    text-wrap: nowrap;
}

.footer-right-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-micOff-carretIcon{
  position: absolute;
  top: 5px;
  right: 10px;
}

.leave-button {
  background-color: #e02828;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  height: 28px;
  border-radius: 10px;
  padding: 0 18px;
  margin-right: 16px;
}

.leave-button:hover {
  background-color: red;
}
