body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* background-color: #111111; */
}

input:focus-visible {
  outline-offset: 0;
}

.split-pane-section {
  background-color: #111111;
}

/* views */

.view-title {
  color: white;
  font-weight: bold;
  text-wrap: nowrap;
  font-size: 5vw;
  clear: right;
  overflow: hidden;
}

.video-view,
.right-view {
  flex: 1;
  background-color: #1a1a1a;
  aspect-ratio: 16/9;
  margin: 0 3px;
  overflow: hidden;
  position: relative;
  max-height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-view iframe {
  height: 100%;
  width: 100%;
}

/* view menu */

.view-menu-dropdown {
  position: absolute !important;
  top: 0px;
  right: 2px;
  z-index: 1;
}

.dropdown-toggle::after {
  display: none !important;
}

.view-menu-dropdown button {
  height: 18px;
  width: 25px;
  border-radius: 3px;
  margin-top: -7px;
}

.view-menu-dropdown button svg {
  height: 18px;
  left: 1px;
  position: absolute;
  top: 2px;
}

.view-menu-option {
  background-color: #040404 !important;
}

.view-menu-option a {
  color: #d2d2d2;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  font-size: 0.7em;
}

.view-menu-option a:hover {
  background-color: #444b53;
  color: #d2d2d2;
}

/* view mute label */

.view-mute-label {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  background-color: #111111;
  padding: 2px;
}

.view-mute-label svg {
  color: #ff5c5c;
  height: 14px;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.view-mute-label p {
  color: #d2d2d2;
  font-size: 12px;
  margin: 0 5px 0 0;
}

/* Participants */

.rename-accordion .accordion-button:focus {
  box-shadow: none;
}

.name-change-form,
.youtube-search-form {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.name-change-form label,
.youtube-search-form label {
  flex: 0 0 100%;
  font-size: 12px;
}

.name-change-form input,
.youtube-search-form input {
  flex: 1;
  min-width: 0;
}

.name-change-form svg {
  height: 30px;
  width: 30px;
  margin-left: 8px;
  color: white;
  padding: 4px;
}

.name-change-x {
  background-color: red;
}

.name-change-update {
  background-color: green;
}

.youtube-search-form button {
  margin-left: 5px;
  background-color: blue;
  color: white;
  border: none;
  height: 30px;
  width: 70px;
}

.name-change-x:hover,
.name-change-update:hover,
.video-search-btn:hover {
  filter: brightness(85%);
}

.participants-sidebar {
  padding: 10px;
}

.close-sidebar-btn {
  background-color: transparent;
  border: none;
}

.close-sidebar-btn svg {
  height: 15px;
}

/* search results */

.search-results {
  padding: 0;
}

.search-results li {
  list-style-type: none;
  margin: 10px 0;
  display: flex;
  height: 105px;
  cursor: pointer;
}

.search-results-img {
  flex: 0 0 auto;
  position: relative;
}

.search-results-img .img-1 {
  height: 100%;
}

.search-results-img .img-2 {
  position: absolute;
  height: 50px;
  top: 25%;

  left: 32%;
}

.search-results-text {
  flex: 1;
  padding-left: 10px;
}

.search-results-text div {
  height: 50%;
  overflow: hidden;
}

.search-results-text div p {
  margin: 0;
}

.search-results-text-body p {
  text-wrap: nowrap;
  overflow: hidden;
}

/* chat */

.chat-list {
  padding: 0;
}

.chat-list li {
  list-style-type: none;
  border-bottom: 1px solid grey;
}

/* footer */

.footer {
  height: 52px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  background-color: #040404;
  width: 100%;
  display: flex !important;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.footer-icons {
  display: flex;
}

.footer-icons div {
  padding: 0 15px;
  margin: 1px 0 3px 0;
  position: relative;
  border-radius: 8px;
}

.footer-icons div:hover {
  background-color: #1a1a1a;
}

.cursor-pointer {
  cursor: pointer;
}

.footer-icons div div {
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.footer-icons div p {
  font-size: 12px;
  color: #a0a0a0;
  display: flex;
  justify-content: center;
  text-wrap: nowrap;
}

.footer-right-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-micOff-carretIcon {
  position: absolute;
  top: 5px;
  right: 10px;
}

.leave-button {
  background-color: #e02828;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  height: 28px;
  border-radius: 10px;
  padding: 0 18px;
  margin-right: 16px;
}

.leave-button:hover {
  background-color: red;
}

/* more button */

.dropup-content {
  position: absolute !important;
  bottom: 55px;
  right: 0;
  flex-direction: column;
  align-items: flex-start;
  background-color: #040404;
}

.hide-1 {
  display: none;
}
